
.logo {
    position: absolute; 
    top: -0.1px; 
    left: 10px; 
    width: 100px; 
    height: auto; 
    margin-top: 10px;
    padding: 10px;
  }
  .navbar {
    display: flex;
    justify-content: space-between; /* Space out left and right sections */
    align-items: center; /* Vertically align items */
    width: 98%;
    height: 70px;
    padding: 0 20px;
    background: white;
  }
  
  .left {
    display: flex;
    align-items: center; /* Vertically align items */
  }
  
  .right {
    display: flex;
    align-items: center; /* Vertically align items */
    gap: 5px; /* Add spacing between items */
  }
  
  .profile-info {
    display: flex;
    flex-direction: column; /* Stack h5 and h6 vertically */
    align-items: flex-start; /* Align text to the left */
    margin-left: 5px;
  }
  
